* {
    /* color: red; */
    margin: 0;
    /* background-color: gray; */
    /* overflow-x: hidden; */
    padding: 0;
}

body {
    padding-top: 130px;
}

/* Tela vermelha do topo das Páginas */
.topo {
    background-color: red;
    color: #000;
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100vw;
    padding-top: 30px;
    position: fixed; 
    top: 0px;
    border-bottom: solid #000 5px;
}

/* Link junto do topo vermelho */
#linkado {
    background-color: red;
    color: #000;
    font-size: 50px;
    text-align: center;
}

/* Bloco com links dos teste */
.blocoTestes {
    font-size: 50px;
    border: solid 10px;
    text-align: center;
    background-color: rgb(16, 231, 221);
    border-color: #000;
    /* margin: 0% 10% 0% 10%; */
    padding: 5% 10% 5% 10%;
    margin: 0vw 25vw 0vw 25vw;
}


/* Tela verde do topo de formulário */
.pai1 {
    border: solid;
    font-size: 50px;
    text-align: center;
    background-color: #1eff00;
    color: #000;
    font-weight: bold;
    padding: 10px 0px 10px 0px
    /* height: 20vh; */
    /* width: 100vw; */
    /* font-size: 15vh; */;
}

/* Teste 1 DEVQUEST */
.testeD1 {
    background-color: orangered;
    border: solid;
    text-align: center;
    font-size: 50px;
    width: 100vw;
    font-weight: bold;
}

.teste1 {
    font-size: 20px;
    border: solid;
    margin-left: 10px;
    margin-right: 10px;
    background-color: grey;
}

/* Páragrafos teste 1 DEVQUEST */

#P1 {
    background-color: #F5F5F5;
    font-size: 20px;
    padding: 20px;
}

#P2 {
    margin-top: 40px;
    background-color: #F0CCE2;
    font-size: 20px;
    padding: 20px;
}

/* Tabelas teste 1 DEVQUEST */

.tab1 {
    background-color: #BB86FC;
    color: white;
}

.tab2 {
    background-color: #00C4B4;
    color: #fff;
}

td {
    background-color: #424250;
}

/* Formulário */
.paipai {
    background-color: #fff;
    border: solid black;
    margin: 3% 30% 0% 30%;
    padding: 20px;
}

/* Explicação página 2 */
.exp {
    background-color: gray;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border: solid black;
}

/* links */
a {
    cursor: cell;
}

a:visited {
    color: purple;
}

a:active {
    color: red;
    background-color: orange;
}

a:hover {
    color: red;
    background-color: rgb(7, 255, 7);
}

/* backgrounds */
p {
    color: coral;
    font-size: 24px;
    font-weight: bold;
}

/* .back {
    background-color: lightgreen;
    background-image: url(./Assets/kylo-ren-starwars-pl.jpg);
    width: 1000px;
    height: 550px;
    background-size: cover;

    background: #000 url(./Assets/kylo-ren-starwars-pl.jpg) no-repeat top right;
    width: 800px;
    height: 750px;
    background-size: cover;
} */

/* display: inline; */
.capa li {
    background-color: orange;
    color: red;
    font-size: 50px;
    text-align: center;
    border: solid #000 10px;
    margin: 20px;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.parado {
    background-color: #1eff00;
    position: absolute;
    width: 200px;
    height: 200px;
}

.andando {
    background-color: #424250;
    width: 120px;
    height: 90px;
    position: static;
}